<h2 id="month">
  <%= link_to "<", {:action => "cal", :month => (@date.beginning_of_month-1).strftime("%Y/%m")}, {id: "prev-month", remote: true} %>
  <%= h @date.strftime("%B %Y") %>
  <%= link_to ">", {:action => "cal", :month => (@date.end_of_month+1).strftime("%Y/%m")}, {id: "next-month", remote: true} %>
</h2>
<%= calendar_for(@month_listings, :year => @date.year, :month => @date.month) do |calendar| %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
  <% calendar.day(:day_method => :updated_at) do |date, month_listings| %>
    <%= date.day %>
    <ul>
      <% for listing in month_listings %>
        <li class="listing-bullet" id="listing-<%= listing.id %>">9pm <%= h(listing.name) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
