<% @fav_listings.each do |listing| %>
  <% if current_user.favorites.find_by_listing_id(listing.id).read %>
    <div class="col-md-12 btn btn-default listing-area">
  <% else %>
    <div class="col-md-12 btn btn-default listing-area listing-unread">
  <% end %>
      <div class="fav-listing-details" id="listing-<%= listing.id %>">
        <h3 class="listing-name"><%= listing.name %></h3>
        <p class="listing-meta">
          <i class="fa fa-calendar-o"></i> <%= listing.updated_at.strftime("%b %e — %l:%M %p") %>
          <span class="cat-label"><%= listing.category %></span>
        </p>
      </div>
      <div class="listing-favorite">
        <% if current_user.listings.include?(listing) %>
          <i class="fa fa-lg fa-crosshairs favorited fav-star listing-<%= listing.id %>" id='fav-button-<%= listing.id %>'></i>
        <% else %>
          <i class="fa fa-lg fa-crosshairs fav-star listing-<%= listing.id %>" id='fav-button-<%= listing.id %>'></i>
        <% end %>
      </div>
    </div>
<% end %>
