<% @fav_listings.each do |listing| %>
<div class="col-md-12 btn btn-default listing-area" id="listing-<%= listing.id %>">
  <h3 class="listing-name"><%= listing.name %></h3>
  <p class="listing-meta">
    <i class="fa fa-calendar-o"></i> <%= listing.updated_at.strftime("%b %e — %l:%M %p") %>
    <%= listing.category %>
    <% if current_user.listings.include?(listing) %>
      <i class="fa fa-star fav-button" id='fav-button-<%= listing.id %>'></i>
    <% else %>
      <i class="fa fa-star-o fav-button" id='fav-button-<%= listing.id %>'></i>
    <% end %>
  </p>
</div>

<% end %>