<div class="container">
  <div class="row" style="margin-right: 20px">
    <!-- Favorites summary -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 left-pane">
      <div class="row section-header">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-text"><i class="fa fa-crosshairs"></i> FAVORITES
          <% @has_favs = current_user.listings.length > 0 %>
          <div class="rt-btn btn btn-sm btn-default pull-right" id="favsbutton"><%= @has_favs ? 'hide' : 'show' %></div>
        </div>
      </div>
      <div class="row listing-container" style="<%= @has_favs ? '' : 'display:none' %>" id="favslist">
        <%= render "favs_summary" %>
      </div>
      
      <div class="row section-header" name="listings">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-text">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-list"></i> FEED
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 input-group input-group-sm search">
              <%= text_field_tag :query, params[:query], class: "form-control", id: 'search_field', placeholder: 'Search...' %>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="dropdown pull-right">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="category-filter" data-toggle="dropdown">Category <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <% @categories.each do |cat| %>
                    <li role="presentation"><a role="menuitem" tabindex="-1"><span class="cat-filter"><%= cat %></span></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Listings summary -->
      <div class="row listing-container" id="feedlist">
        <%= render "listings_summary" %>
      </div>
      
      <!-- Page footer -->
      <div class="row footer">
        &copy; 2013 Huntr <span>•</span> Anne Hunter has sent <%= pluralize(Listing.where(updated_at: (Time.now.midnight + 5.hours)..(Time.now + 5.hours)).length, 'email') %> today.
      </div>
    </div>

    <!-- Right pane -->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="row right-pane">
        <div id="calendar"><%= render "calendar" %></div>
        <div id="listing"></div>
      </div>
    </div>
  </div>
</div>