<%= javascript_include_tag "listing" %>
<%= javascript_include_tag "http://js.addthisevent.com/atemay.js" %>

<div class="row header-text">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><i class="fa fa-file"></i>  LISTING</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class='btn btn-default' id='view-cal'>Back to Calendar</div>
  </div>
</div>

<div class="listing-header">
  <div class="listing-name"><h2><%= @listing.name %></h2></div>
  <div class="listing-star">
    <% if current_user.listings.include?(@listing) %>
      <i class="fa fa-2x fa-crosshairs favorited list-star listing-<%= @listing.id %>" id='fav-button-<%= @listing.id %>'></i>
    <% else %>
      <i class="fa fa-2x fa-crosshairs list-star listing-<%= @listing.id %>" id='fav-button-<%= @listing.id %>'></i>
    <% end %>
  </div>
  <div class="listing-sent"><em>Last updated: <%= @listing.updated_at.strftime("%B %e, %Y") %></em></div>
</div>

<% if @listing.location? or @listing.start_time? %>
  <div class="listing-body partial-height">
    <%= simple_format(@listing.body) %>
  </div>
  <div class="row listing-event-details">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="location-map" data-loc="<%= @listing.location %>"></div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="details-label underline">Event Details</div>
      <div><span class="details-label">Time: </span><%= @listing.start_time.strftime('%A, %b %e @ %l:%M %p') %></div>
      <div><span class="details-label">Location: </span><%= @listing.location %></div>
     
      <a title="Add to Calendar" class="addthisevent">
        Add to Calendar
        <span class="_start"><%= @listing.start_time.strftime('%Y-%m-%d %H:%M:%S') %></span>
        <span class="_end"><%= @listing.end_time.strftime('%Y-%m-%d %H:%M:%S') %></span>
        <span class="_zonecode">15</span>
        <span class="_summary"><%= @listing.name %></span>
        <span class="_location"><%= @listing.location %></span>
        <span class="_all_day_event"><%= @listing.all_day %></span>
        <span class="_date_format">MM/DD/YYYY</span>
      </a>
    </div>
  </div>
<% else %>
  <div class="listing-body full-height">
    <%= simple_format(@listing.body) %>
  </div>
<% end %>

