<%= javascript_include_tag "listing" %>
<%= javascript_include_tag "http://js.addthisevent.com/atemay.js" %>

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">LISTING</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class='btn btn-default' id='view-cal'>Back to Calendar</div>
  </div>
</div>

<div class="listing-header">
  <div class="listing-name" style="display:inline-block"><h2><%= @listing.name %></h2></div>
  <div class="listing-star" style="display:inline-block;float:right">
    <% if current_user.listings.include?(@listing) %>
      <i class="fa fa-2x fa-star list-star listing-<%= @listing.id %>" id='fav-button-<%= @listing.id %>'></i>
    <% else %>
      <i class="fa fa-2x fa-star-o list-star listing-<%= @listing.id %>" id='fav-button-<%= @listing.id %>'></i>
    <% end %>
  </div>
  <div><%= @listing.start_time %> — <%= @listing.end_time %></div>
</div>

<div class="listing-body">
<%= simple_format(@listing.body) %>
</div>

<div class="row listing-quickview">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="location-map"></div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div>Event Details</div>
    <div><span class="qv-detail"></span>Time: <%= @listing.start_time %> - <%= @listing.end_time %></div>
    <div>Location: <%= @listing.location %></div>
   
    <a title="Add to Calendar" class="addthisevent">
      Add to Calendar
      <span class="_start"><%= @listing.updated_at.to_formatted_s(:db) %></span>
      <span class="_end"><%= @listing.updated_at.to_formatted_s(:db) %></span>
      <span class="_zonecode">15</span>
      <span class="_summary"><%= @listing.name %></span>
      <span class="_location"><%= @listing.location %></span>
      <span class="_all_day_event">false</span>
      <span class="_date_format">MM/DD/YYYY</span>
    </a>
  </div>
</div>


